*.DS_Store
.idea/
config/config.yml
logs/
bin/
build/
.DS_Store
src/.env
src/vendor
src/system/configs/*.json
src/system/positions/*.txt
src/plugins/user/*.go
src/plugins/user/*.so
src/horgh-replicator